name: Test & build

on:
  push:
    branches:
      - '**'
  workflow_call:

env:
  PYTHONUNBUFFERED: 1

jobs:
  build-windows:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install dependencies
        run:  python libfwk/tools/configure.py download-deps

      - name: Configure Lucid & libfwk
        run:  python libfwk\tools\configure.py -T Release -G ninja-clang-cl -DFWK_UNITY_BUILD=ON

      - name: Build lucid & libfwk
        run: |
          cmake --build build -j8

      - name: Prepare archive files
        shell: cmd
        run: |
          mkdir lucid-raster
          copy lucid.exe lucid-raster\
          xcopy data\shaders\ lucid-raster\data\shaders\ /E

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: lucid-release-build
          path: lucid-raster

  build-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Download dependencies
        run:  python libfwk/tools/configure.py download-deps

      - name: Configure Lucid & libfwk
        run: |
          export CXX=clang++-18
          python libfwk/tools/configure.py -G ninja -T Debug -DFWK_UNITY_BUILD=ON

      - name: Build Lucid & libfwk
        run:  cmake --build build -j8

  check-formatting:
    runs-on: windows-2025
    steps:
      - name: Disable git autocrlf
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Install Dependencies
        run:  pip install black

      - name: Check C++ formatting
        run: |
          python tools/format.py -c

      - name: Check Python formatting
        if: '!cancelled()'
        run: |
          python -m black tools/* --check --color --diff -l 100